<%- include('partials/header.ejs') %>
    <body>
        <main>
            <h1>Cool Images</h1>
            <form action="/search">
                <input class="searchbox" type="text" placeholder="Type keyword" name="keyword" />
                <br> <br>
                <button class="search">Search</button>
                <br>
                <a class="link" href="/"> Back to Search </a>
                <br><br>
                <a id="favLink" href="/getKeywords">See Favorites</a>
            </form>
        </main>
        <hr>
        <div id="resultsContainer">
            <% imageUrlArray.forEach(function(imageUrl, i){ %>
                <%- (i % 3 == 0)?'<br>':'' %>
                <img class="image" src='<%= imageUrl %>' width='200' height='200' />
                <img class="favoriteIcon" src='img/favorite.png' width='20' >
            
            <% });%>
        </div>
        
        <%- include('partials/footer.ejs') %>        
        
    </body>
</html>